html{
    scroll-behavior: smooth;
}
body{
    background-color: #e2cfb0;
    font-family: 'Biryani', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Serif Pro', serif;
}
.wrapper{
    width:1440px;
    min-height:1000px;
    margin:auto;
}
.header{
    min-width:880px;
    height:100px;
    background-color:#1E000E;
    padding-left:20px;
    display:flex;
}
.name{
    font-size:96px;
    color:#ffe67b;
    height:100px;
    line-height:100px;
    user-select: none;
    width:300px;
    margin:0;
    display:block;
}
.menu{
    width:1100px;
    height:100px;
    display:inline-block;
    margin-left:200px;
}
.menu li{
    display:inline-block;
    height:100px;
    width:180px;
    text-align:center;
}
.menu li a{
    line-height:100px;
    font-size:30px;
    text-align:center;
    color:white;
    text-decoration:none;
}
.menu li a:hover{
    text-decoration: underline solid;
}
.container{
    width:100%;
    min-height:1150px;
    max-height:3000px;
    background: linear-gradient(rgb(191, 198, 208), rgb(255, 230, 123));
    padding-top:50px;
}
.intro{
    height:600px;
    width:1440px;
    background-color:#bfc6d0;
    display:flex;
    border: 2px solid black;
}
.intro p{
    font-size:48px;
    margin-top:50px;
    height:30px;
    align-items:center;
    display:inline-block;
}
.intro img{
    width:600px;
    height:600px;
    margin-left:420px;
}
#info{
    width:1100px;
    min-height:225px;
    max-height:350px;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    border-radius:15px;
    display:flex;
}
#info img{
    width:385px;
    height:300px;
}
.info-box{
    width:550px;
    min-height:225px;
    max-height:350px;
    margin-left:100px;
    margin-right:50px;
    padding-top:20px;
    border-radius:15px;
    background-color:#d1ccbe;
    border:2px solid black;
}
.info-box p{
    text-align:center;
    color:#1E000E;
    font-size:28px;
    margin:0;
}
#promises{
    width:900px;
    height:300px;
    margin:auto;
    display:flex;
    margin-top:50px;
}
#promises img{
    width:300px;
    height:300px;
    margin-left:50px;
}
.promises-box{
    width:550px;
    height:287px;
    margin-left:auto;
    margin-right:auto;
    background-color:#d1ccbe;
    border-radius:15px;
    padding-top:10px;
    border: 2px solid black;
}
.promises-box p, h1{
    text-align:center;
    color:#1E000E;
    margin-top:10px;
    margin-bottom:15px;
}
.promises-box h1{
    font-size:40px;
}
.promises-box p{
    font-size:30px;
}
#contact{
    width:900px;
    height:400px;
    margin:auto;
    display:flex;
}
.contact-box{
    width:550px;
    height:400px;
    background-color:#d1ccbe;
    padding-top:1px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-radius:15px;
    margin-bottom:25px;
    border:2px solid black;
}
.contact-box p{
    font-size:40px;
    margin-bottom:15px;
    margin-right:400px;
    color:#1E000E;
    width:500px;
    margin-top:15px;
    font-weight:lighter;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#contact img{
    width:400px;
    height:400px;
    margin-left:50px;
    margin-top:50px;
}
.footer{
    width:100%;
    height:75px;
    background:linear-gradient(#ffe67b, #808080);
    line-height:75px;
    font-size:20px;
    text-align:center;
}
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;700&family=Roboto:wght@400;700&family=Source+Serif+Pro&display=swap');
